
$primaryColor: #20A0FF;// 主色
$primaryDarkColor: #1770c5;
$primaryLightColor: #58B7FF;
$primaryHover: #4aa5e9;

// 透明
$transparent: transparent;

// 成功色
$successColor: #13CE66;

// 警告色
$warningColor: #F7BA2A;

// 严重色
$dangerColor: #FF4949;

// 暗色
$black: #1F2D3D;
$lightBlack: #324057;
$extraLightBlack: #475669;

// 银色
$silver: #8492A6;
$lightSilver: #99A9BF;
$extraLightSilver: #C0CCDA;

// 灰色
$gray: #D3DCE6;
$lightGray: #E5E9F2;
$extraLightGray: #EFF2F7;

// 亮色
$darkWhite: #F9FAFC;
$white: #FFFFFF;

// 字体
$fontFamily: "Microsoft YaHei", "微软雅黑", Arial, sans-serif, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB";

// 字号
$XL: 24px;
$L: 18px;
$M: 16px;
$S: 14px;
$XS: 13px;
$XXS: 12px;

// 尺寸
$minWidth: 1200px; // 1280px;
$headerHeight: 60px;
$sideBarWidth: 220px;
$sideBarCollapseWidth: 56px;
$footerHeight: 30px;

// 常用色值
$borderColor: #ccc;
$whiteColor: #FFFFFF;
$F5Color: #F5F5F5;
