.analysis-topbar {
    background-color: #f5f5f5;
    border-bottom: 1px solid #d7d7d7;
    .collap-box {
        float: right;
        margin: 5px 10px 5px auto;
        height: 22px;
        width: 25px;
        text-align: center;
        padding-top: 2px;
        border: 1px solid #D7D7D7;
        i {
            color: #797979;
        }
    }
    .collap-col {
        text-align: right;
    }
    .tabs {
        margin-top: 6px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;
        bottom: -1px;
        &__item {
            background: #e4e4e4; // max-width: 120px;
            height: 28px;
            line-height: 28px;
            padding: 0 5px 0 9px;
            border: 1px solid #d7d7d7; // text-overflow: ellipsis;
            // overflow: hidden;
            white-space: nowrap;
            position: relative;
            display: inline-block;
            cursor: pointer;
            .iconfont {
                opacity: 0;
                transition: 0.25s;
            }
            &+& {
                border-left: 0;
            }
            &:hover {
                .iconfont {
                    opacity: 1;
                }
            }
            &.current {
                background: #fff;
                border-bottom-color: #fff;
            }
            .icon-close {
                font-weight: 100;
                color: #999;
            }
        }
    }
}

.tel-list-tab-box .el-tabs__header {
    padding: 0 70px 0 5px;
}